html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, sans-serif;
  background-color: rgb(249,250,251);
  max-width: 40rem;
  margin: auto;
}

* {
  box-sizing: border-box;
}

img {
    display: block;
}

